<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
    {% block metatags %}{% endblock %}
</head>
<body>
<div id="content">
    {% include 'Site/Components/sidebar/sidebar.twig' ignore missing %}

    {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}
        &copy; Footer Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
</body>
</html>