{% include 'Admin/Templates/default.twig' %}

{% block title %}{{ 'contact' | trans }}{% endblock %}

{% block content %}
    <h1>Template 3</h1>
    {{ 'hello' | trans({'%name%': name}) }}


    <div>

        <a href="{{ url('default-route', {application: 'Admin', controller: 'Contato', action: ''}) }}">Login</a></div>

{% endblock %}
