{% extends 'Admin/Templates/default.twig' %}

{% block title %}{{ 'contact' | trans }}{% endblock %}

{% block content %}
    {% include 'Admin/Templates/header.twig' %}

    {{ 'hello' | trans({'%name%': name}) }}
    <div><a href="{{ url('default-route', {application: 'Admin', controller: 'Contato', action: ''}) }}">Login</a></div>

    {% include 'Commom/Components/sidebar/sidebar.twig' %}
{% endblock %}
