{% extends "Site/Templates/template.twig" %}

{% block title %}Title Index{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
        IndexAction
    </p>
{% endblock %}



